<div>
    <div class="formLogin">

        <form class="form-inline justify-content-end " action="/login" method="POST">
            <div class="form-group mb-2">
                <label for="user" class="sr-only" >Nombre de Usuario</label>
                <input type="text" class="form-control" name="user" placeholder="Usuario">
            </div>
            <div class="form-group mx-sm-3 mb-2">
                <label for="password" class="sr-only">Contraseña</label>
                <input type="password" class="form-control" name="password" placeholder="Contraseña">
            </div>
            <button type="submit" class="btn btn-success mb-2">Ingresar</button>
        </form>
        {{!-- <form class="miForm"action="/login" method="POST">
                <label for="user">Nombre de Usuario</label>
                <input class="usuario" type="text" name="user" id="user" autocomplete="off">

                <label for="password">Contraseña</label>
                <input class="usuario" type="password" name="password" id="password">
            
            <input class="loginBtn" type="submit" value="ingresar">
        </form> --}}
    </div>
</div>

{{#if message}}
<span class="mensaje-{{message.class}}"> {{message.text}} </span>
{{/if}}


<div class="description">
    <p>Bienvenido a petCatch! Una pagina en donde vas a poder compartir con todos fotos, videos o memes de tus mascotas.
        Tambien vas a poder agregar a otros usuarios y comentar sus publicaciones!.
        y todo empieza con un click.
    </p>
</div>

<a class="Registrate btn btn-warning" href="/registrarse">Registrate!!</a>