{{#if person}}


<div class="card" style="width: 12rem;">
    <h2 class="thePost borderDescription">Perfil de {{person.name}}</h2> 
  <img class="card-img-top" src="img/profile/{{person.profilePic}}" alt="Card image cap">
  <div class="card-body">
    <form action="/changePic" method="POST" enctype="multipart/form-data">
            <input  type="file" name="profilePic" accept="image/*">

            <button type="submit" class="btn btn-warning">cambiar foto de perfil</button>
        </form>
  </div>
</div>

    



<div>
    publicaciones (en desarrollo)
</div>
{{/if}}