{{#if person}}

<div class="profilePicSone">
    <div>
        <div class="profilePics">
            <img src="/img/profile/{{person.profilePic}}" >
        </div>
        <form action="/changePic" method="POST" enctype="multipart/form-data">
            <input  type="file" name="profilePic" accept="image/*">

            <button type="submit">cambiar foto de perfil</button>
        </form>
    </div>
</div>
<div>
    <span> galeria de {{person.name}}</span>
</div>
<div>
    publicaciones
</div>
{{/if}}