<form class= "Form" action="/registerUser" method="POST" enctype="multipart/form-data">

    <div class="input-user">
        <label for="nameUser">Nombre de Usuario</label>
        <input  class="miBarra" type="text" name="user" id="user">
    </div>
    <div class="input-user">
        <label for="surname">Apellido</label>
        <input class="miBarra" type ="text" name="surname" id="surname">
    </div>
    <div class="input-user">
        <label for="profilePic">Seleccione una foto de perfil</label>
        <input class="miBarra" type="file" name="profilePic" id="profilePic">
    </div>
    
   
    <input class="resgisterBtn" type="submit" value="registrarse">
</form>