

.thePost{
   
    background-color: cornflowerblue;
    border: solid;
    padding: 10px;
}

.borderDescription{
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: solid 3px black;
    background-color: white;
    border-radius: 10px;
  
}


.homePhoto{
    
    border-radius: 0px;
    padding:20px ;
    background-color: white;
    width: 50%;
    max-width: 50%;
 
}
textarea{
    resize: none;
}
.thePost textarea{
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: solid;
    background-color: white;
    border-radius: 10px;
    margin: 5px;
    margin-top: 5px;
    padding: 5px;
    width: 100%;
}
.postDesign{
    background-color: white;
    border-radius: 3px;
}



.profilePics{
    margin: 50px 0px 0px 0px;
    border: solid;
    height: 250px;
    width: 250px;
    border-radius: 100%;
 
}
.misLi{
    margin-top: 10px;
    margin-right: 5px;
} 
.miNav{
    margin-top: 5px;
}
.Buscar{
    margin-right: 5px;
}
.header{  
     margin-bottom: 10px;
     height: 5%;
     background-color: cornflowerblue;
}
.mensaje-todoOk{
    color:violet;
}
.mensaje-error{
    color:red;
}

.navbar {
    background-color: grey;
    height: 50px;
    
}

.navbar span{
    color: white;
    font-family: monospace;
    font-size: xxx-large;
}

.superBody{
    background-image:url("../img/fondoSinLogo.jpg");
    background-size: 100%;
}

.navbar ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.navbar li{
    display: inline;
    margin-left: 20px;
    margin-right: 20px;
    
   padding-left: 100px;
    
}

.links{
    margin-left: 60px;
    margin-right: 60px;
}

.navbar div{
    display: inline;
}
.navbar form{
    display: inline;
}
.signout {
    text-align-last: right;
 }
.navbar input {
    margin-top: 5px;
}